<h2>Found a House</h2>


<% @house.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_for @house do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :motto %>
  <%= f.text_field :motto %>

  <%= f.label :death_sentence %>
  <%= f.text_field :sentence %>

  <%= f.submit %>
<% end %>
