<h1><%= @house.name %> <%= link_to "(edit)", edit_house_path %></h1>
<h3><%= @house.motto %></h3>
<%= image_tag @house.img_url %>
<h2>Characters of House <%= @house.name %></h2>
<% @house.characters.each do |char| %>
  <div class="character">
    <h2><%= char.name %></h2>
    <%=image_tag char.img_url %>
  </div>
<% end %>
