<h1><%= @house.name %> <%= link_to "(rebrand or destroy)", edit_house_path %></h1>
<h3><%= @house.motto %></h3>
<%= image_tag @house.img_url %>
<h2>Characters of House <%= @house.name %> <%= link_to "(+)", new_house_character_path(@house) %></h2>
<% @house.characters.each do |char| %>
  <div class="character">
    <h2><%= link_to "#{char.name}", house_character_path(@house, char) %></h2>
    <%=image_tag char.img_url %>
  </div>
<% end %>
