<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% flash.each do |type, message| %>
  <p class="flash <%= type %>"><%= message %></p>
  <h1>Welcome to Westeros!</h1>
      <h2><%= link_to "View Houses", houses_path %> </h2>
  <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
